[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
black = "*"
pytest = "*"
reorder-python-imports = "*"

[requires]
python_version = "3.9"

[pipenv]
# for black
allow_prereleases = true
